/*menu*/
@media screen and (max-width: 750px) {

	nav #logo-img {
		display: block;
		position: absolute;
		top: 10px;
		left: calc(50% - 50px);
	}

	#menu-toggle {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}

	nav ul {
		visibility: hidden;
		opacity: 0;
		display: inline-block;
		width: 100vw;
		height: calc(100vh - 50px);
		background-color: #fff;
		position: absolute;
		top: 50px;
		left: 0;
		margin-top: 20px;
		-webkit-transition: all 0.3s;
		transition: all 0.2s;
	}

	nav ul a {
		color: #272727;
	}

	header.showMenu {
		position: fixed;
		background-color: #fff;
	}

  	ul.showMenu {
	    visibility: visible;
	    opacity: 1;
	    text-align: center;
	}

	ul.showMenu li {
		opacity: 1;
		visibility: visible;
	}

	ul.showMenu li:first-child {
		display: none;
	}

	ul.showMenu a:after {
		display: none;
	}

	nav li {
		width: 75%;
		opacity: 0;
		visibility: hidden;
		margin-left: 0;
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #D3D3D3;
	}

	nav li:first-child {
		margin-top: 30px;
	}

	#leng-li {
		display: inline-block;
	}

	#leng {
		display: none;
	}

	.active-item {
		width: 0;
		color: #AABF19;
	}

}


@media screen and (max-width: 600px) {

	.mdl-textfield {
    	width: 300px;
    }

    #main-screen img {
    	display: none;
    }

    #main-screen div {
    	width: 90vw;
    }
}

@media screen and (max-width: 989px) {
	#column_svg div:nth-child(3) {
		margin-top: 20px;
	}

	#column_empl div {
		margin-bottom: 40px;
	}

	#projects .project-item .main-img {
		display: none;
	}

	#projects .overlay {
		opacity: 1;
		background-color: rgba(0,0,0,.5);
	}

	#projects .project-item:hover .overlay{
		top: 0;
		left: 0;
	}
}
