/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url('fonts/open-sans-v15-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v15-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
}

body {
	color: #272727;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
}

a {
	text-decoration: none;
}

.go-to-top {
	position: sticky;
	bottom: 40px;
	right: 40px;
}
/*--parallax--*/

#parallax-main-content {
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;

}

#parallax-main-content.showMenu {
	perspective: none;
}

h1 {
	font-weight: normal;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

form {
	margin-top: 20px;
}

/*---*/

header {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
    top: 0;
    width: 100%;
	height: 70px;
	z-index: 2;
	background-color: transparent;
	color: #fff;
	transition: all .2s;
}

nav {
	color: #fff;
	width: 700px;
	margin: auto;
}

nav img {
	height: 40px;
}

nav #logo-img {
	display: none;
	height: 40px;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav ul li {
	display: inline-block;
}

nav ul a {
	position: relative;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

nav ul a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #AABF19;
	content: '';
	transition: width 0.2s ease-out;
}

nav ul a:not(#logo).active-item:after {
	width: 100%;
}

#leng-li {
	display: none;
}

#leng {
	display: inline-flex;
	margin: auto 15px;
}

#leng a {
	text-decoration: none;
	color: #fff;
}


/*--*/

#menu-toggle {
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#menu-toggle:hover .bar {
  width: 25px;
}

#menu-toggle.closeMenu .bar {
	background-color: #272727;
	width: 25px;
}

#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #aabf19;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}

.bar:last-child {
  width: 15px;
}

main {
	/*parallax*/
	display: block;
	position: relative;
	z-index: 1;
	background-color: #fff;
}


#main-screen {
	display: flex;
	display: -webkit-flex;
	position: relative;
	width: 100vw;
	overflow: hidden;
	/*height: calc(100vh - 70px);*/
	background-position: center;
	background-size: cover;
	color: #fff;
	padding-top: 70px;
	/*parallax*/
	z-index: -1;
	height: 100vh;
	transform: translateZ(-1px) scale(2);
	background-color: #434341;
}

.no-webp { background-image: url(img/bck_7_1.jpg); }
.webp { background-image: url(img/bck_7_1.webp); }

#main-screen img {
	display: block;
	margin: auto;
}

#main-screen div {
	width: 35vw;
	margin-left: auto;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0 40px;
}
#main-screen h1 {
	margin: 0;
	line-height: 1em;
}

#main-screen h5 {
	color: #D1DC40;
	margin: 30px 0;
}

/*---*/

#advantages {
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	min-height: 100vh;
	padding-top: 50px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0 , 0, 0.3);
}

#advantages .svg-image {
	fill: none;
	stroke: #272727;
	width: 100px;
}

#svg1 {
	opacity: 1;
	stroke-width: 7px; 
}

#svg2 {
	opacity: 1;
	stroke-width: 10px;
}

#svg3 {
	opacity: 1;
	stroke-width: 10px;
}

#column_svg {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-bottom: 50px;
}

#column_svg div {
	flex: 300px;
	margin: 0 15px;
}

#column_svg .behind_svg {
	height: 100px;
}



/*---*/


#team {
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	min-height: 100vh;
	justify-content: space-between;
	padding-top: 50px;
	text-align: center;
	/*box-shadow: 0 2px 10px rgba(0, 0 , 0, 0.3);*/
}

#column_empl {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-bottom: 70px;
}

#column_empl div {
	flex: 300px;
	margin: 0 15px;
}

#column_empl .empl_position {
	display: none;
}

/*---*/

#projects {
	min-height: 100vh;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 2px 10px rgba(0, 0 , 0, 0.3);

}


#project-flex {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 50px;
}

#projects .project-item {
	width: 300px;
	height: 250px;
	background-position: center center;
  	background-size: cover;
  	display: flex;
  	position: relative;
  	margin-bottom: 20px;
}

#projects .project-item img {
	margin: auto;
	width: calc(100% - 40px);
}

#projects .overlay {
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #AABF19; 
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .2s ease-in;
}

#projects .project-item:hover .overlay{
	opacity: 1;
	top: 10px;
	left: 10px;
}

#projects .overlay div {
	margin: auto;
	text-align: center;
	cursor: default;
}

#projects .overlay p {
	color: #fff;
	margin: auto;
	text-align: center;
}

#projects .overlay a {
	text-decoration: none;
}

#projects .project-item .overlay img {
	width: calc(100% - 200px);
}

#projects .project-item .overlay button img {
	width: 24px;
	height: 24px;
}

#ronikon {
	background-image: url(img/prj/pattern.png);
}

#aristo1 {
	background-image: url(img/prj/pattern.png);
}

#narayna {
	background-image: url(img/prj/pattern.png);
}

#aristo2 {
	background-image: url(img/prj/pattern.png);
}

#maribel {
	background-image: url(img/prj/pattern.png);	
}

#mebel {
	background-image: url(img/prj/pattern.png);		
}

#kitchen {
	background-image: url(img/prj/pattern.png);			
}

#form {
	min-height: calc(100vh - 140px);
	overflow: hidden;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

#more {
	color: #AABF19;
}

.mdl-textfield {
    width: calc(100% - 300px);
}

.mdl-textfield--floating-label.is-focused 
.mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty 
.mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder 
.mdl-textfield__label {
    top: 1px;
}

.mdl-textfield__label {
    top: 20px;
}

#btn-send {
	margin-top: 20px;
}

/*--*/

footer {
	position: relative;
	min-height: calc(50vh - 50px);
	color: #fff;
	text-align: center;
	background-image: url(img/prj/pattern.png);
	background-position: center;
	background-size: cover;
	padding-top: 50px;

}

footer a {
	text-decoration: none;
	color: #fff;
}

#footer-flex {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

#footer-flex div {
	flex: 300px;
	margin: 20px auto;

}

#iidf {
	margin-bottom: 50px;
}

#copyright {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}